DES/WSTT/WebContent/wsdl/UserDAOImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://user.impl.dao.ws.tt.nad.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://user.impl.dao.ws.tt.nad.com" xmlns:intf="http://user.impl.dao.ws.tt.nad.com" xmlns:tns1="http://user.dto.ws.tt.nad.com" xmlns:tns2="http://util.ws.tt.nad.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://user.impl.dao.ws.tt.nad.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.ws.tt.nad.com"/>
   <import namespace="http://user.dto.ws.tt.nad.com"/>
   <element name="selectUniqFolio">
    <complexType>
     <sequence>
      <element name="folioDTO" type="tns1:FolioDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="selectUniqFolioResponse">
    <complexType>
     <sequence>
      <element name="selectUniqFolioReturn" type="tns1:FolioDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveUser">
    <complexType>
     <sequence>
      <element name="userDTO" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveUserResponse">
    <complexType>
     <sequence>
      <element name="saveUserReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="logIn">
    <complexType>
     <sequence>
      <element name="userDTO" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="logInResponse">
    <complexType>
     <sequence>
      <element name="logInReturn" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectAllUsers">
    <complexType/>
   </element>
   <element name="selectAllUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="selectAllUsersReturn" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUser">
    <complexType>
     <sequence>
      <element name="userDTO" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserResponse">
    <complexType>
     <sequence>
      <element name="updateUserReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="userDTO" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType>
     <sequence>
      <element name="deleteUserReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFolio">
    <complexType>
     <sequence>
      <element name="folioDTO" type="tns1:FolioDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFolioResponse">
    <complexType>
     <sequence>
      <element name="deleteFolioReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveFolio">
    <complexType>
     <sequence>
      <element name="folioDTO" type="tns1:FolioDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveFolioResponse">
    <complexType>
     <sequence>
      <element name="saveFolioReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectUserFolios">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectUserFoliosResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="selectUserFoliosReturn" type="tns1:FolioDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectRoles">
    <complexType/>
   </element>
   <element name="selectRolesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="selectRolesReturn" type="tns1:RolDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectUniqUser">
    <complexType>
     <sequence>
      <element name="userDTO" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectUniqUserResponse">
    <complexType>
     <sequence>
      <element name="selectUniqUserReturn" type="tns1:UserDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateFolio">
    <complexType>
     <sequence>
      <element name="folioDTO" type="tns1:FolioDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateFolioResponse">
    <complexType>
     <sequence>
      <element name="updateFolioReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://util.ws.tt.nad.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://user.impl.dao.ws.tt.nad.com"/>
   <import namespace="http://user.dto.ws.tt.nad.com"/>
   <complexType name="DataType">
    <sequence>
     <element name="column" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="obj" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://user.dto.ws.tt.nad.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.ws.tt.nad.com"/>
   <import namespace="http://user.impl.dao.ws.tt.nad.com"/>
   <complexType name="FolioDTO">
    <sequence>
     <element name="beginning" nillable="true" type="xsd:string"/>
     <element name="codError" nillable="true" type="xsd:string"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="idFolio" type="xsd:int"/>
     <element name="msgError" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="users" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="whereById" nillable="true" type="tns2:DataType"/>
    </sequence>
   </complexType>
   <complexType name="UserDTO">
    <sequence>
     <element name="codError" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="folios" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="idUser" type="xsd:int"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="msgError" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="rol" type="xsd:int"/>
     <element name="whereById" nillable="true" type="tns2:DataType"/>
    </sequence>
   </complexType>
   <complexType name="RolDTO">
    <sequence>
     <element name="codError" nillable="true" type="xsd:string"/>
     <element name="desc" nillable="true" type="xsd:string"/>
     <element name="idRol" type="xsd:int"/>
     <element name="msgError" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="selectAllUsersRequest">

      <wsdl:part element="impl:selectAllUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserResponse">

      <wsdl:part element="impl:updateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectUserFoliosResponse">

      <wsdl:part element="impl:selectUserFoliosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectUniqFolioResponse">

      <wsdl:part element="impl:selectUniqFolioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserRequest">

      <wsdl:part element="impl:updateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveUserResponse">

      <wsdl:part element="impl:saveUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectUniqUserRequest">

      <wsdl:part element="impl:selectUniqUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logInResponse">

      <wsdl:part element="impl:logInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFolioRequest">

      <wsdl:part element="impl:deleteFolio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateFolioResponse">

      <wsdl:part element="impl:updateFolioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logInRequest">

      <wsdl:part element="impl:logIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFolioResponse">

      <wsdl:part element="impl:deleteFolioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateFolioRequest">

      <wsdl:part element="impl:updateFolio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveUserRequest">

      <wsdl:part element="impl:saveUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectRolesRequest">

      <wsdl:part element="impl:selectRoles" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectRolesResponse">

      <wsdl:part element="impl:selectRolesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveFolioRequest">

      <wsdl:part element="impl:saveFolio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectUniqFolioRequest">

      <wsdl:part element="impl:selectUniqFolio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveFolioResponse">

      <wsdl:part element="impl:saveFolioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectUniqUserResponse">

      <wsdl:part element="impl:selectUniqUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectAllUsersResponse">

      <wsdl:part element="impl:selectAllUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectUserFoliosRequest">

      <wsdl:part element="impl:selectUserFolios" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserDAOImpl">

      <wsdl:operation name="selectUniqFolio">

         <wsdl:input message="impl:selectUniqFolioRequest" name="selectUniqFolioRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectUniqFolioResponse" name="selectUniqFolioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveUser">

         <wsdl:input message="impl:saveUserRequest" name="saveUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveUserResponse" name="saveUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logIn">

         <wsdl:input message="impl:logInRequest" name="logInRequest">

       </wsdl:input>

         <wsdl:output message="impl:logInResponse" name="logInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectAllUsers">

         <wsdl:input message="impl:selectAllUsersRequest" name="selectAllUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectAllUsersResponse" name="selectAllUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdl:input message="impl:updateUserRequest" name="updateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateUserResponse" name="updateUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFolio">

         <wsdl:input message="impl:deleteFolioRequest" name="deleteFolioRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFolioResponse" name="deleteFolioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveFolio">

         <wsdl:input message="impl:saveFolioRequest" name="saveFolioRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveFolioResponse" name="saveFolioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectUserFolios">

         <wsdl:input message="impl:selectUserFoliosRequest" name="selectUserFoliosRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectUserFoliosResponse" name="selectUserFoliosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectRoles">

         <wsdl:input message="impl:selectRolesRequest" name="selectRolesRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectRolesResponse" name="selectRolesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectUniqUser">

         <wsdl:input message="impl:selectUniqUserRequest" name="selectUniqUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectUniqUserResponse" name="selectUniqUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateFolio">

         <wsdl:input message="impl:updateFolioRequest" name="updateFolioRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateFolioResponse" name="updateFolioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserDAOImplSoapBinding" type="impl:UserDAOImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="selectUniqFolio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectUniqFolioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selectUniqFolioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectAllUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectAllUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selectAllUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFolio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFolioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFolioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveFolio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveFolioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveFolioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectUserFolios">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectUserFoliosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selectUserFoliosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectRoles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectRolesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selectRolesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectUniqUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectUniqUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selectUniqUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateFolio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateFolioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateFolioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserDAOImplService">

      <wsdl:port binding="impl:UserDAOImplSoapBinding" name="UserDAOImpl">

         <wsdlsoap:address location="http://localhost:81/WSTT/services/UserDAOImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
